<h3>Woo, squares!</h3>

<table>
<thead>
  <tr>
    <th>Colour</th>
    <th>Name</th>
    <th>Creation time</th>
  </tr>
</thead>
<tbody>
{{#each shape in model}}
  <tr>
    <td style="background-color: {{shape.colour}}">&nbsp;</td>
    <td>{{shape.title}}</td>
    <td>{{shape.timestamp}}</td>
  </tr>
{{/each}}
</tbody>
</table>